@use "reset";

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

h1 {
  padding: 0.5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.bg-cyan {
  background-color: $dark-cyan;
}

.bg-dark-cyan {
  background-color: $very-dark-cyan;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.bg-orange {
  background-color: $bright-orange;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btn {
  margin-top: 4rem;
  border-width: 2px;
  padding: 0.7rem 1.85rem;
  border-radius: 35px;
}

.btn-orange {
  color: $bright-orange;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: $very-light-gray;
  }
}

.btn-cyan {
  color: $dark-cyan;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: $very-light-gray;
  }
}

.btn-dark-cyan {
  color: $dark-cyan;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: $very-light-gray;
  }
}

.card-preview {
  max-width: 58rem;
  color: $very-light-gray;
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2.7rem;
}

.col {
  padding: 3rem;
}

.container {
  background-color: $very-light-gray;
  padding-bottom: 0.5rem;
  max-width: 100% !important;
}

.description {
  font-size: 0.95rem;
  line-height: 1.7;
  color: $transparent-white;
}

@media (max-width: 991px) {
  .container {
    height: auto !important;
  }
}

@media (max-width: 600px) {
  .bg-dark-cyan {
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .bg-orange {
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .btn {
    margin-top: 0.5rem;
  }

  .card-preview {
    padding: 4.5rem 2.5rem;
  }

  .col {
    padding: 3.5rem;
  }

  .container {
    height: auto !important;
  }
}
